<!-- A partial to be overwritten by the user.
     Simply place a custom_body.html into
     your local /layouts/partials-directory.
     Its content will appear before the closing </body>-tag -->

<style>
.post-holder.odd {
          background: #DC143C;
     }

.post-holder {
  background: #f0e9ea;
}

a {
  color: inherit;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

a:hover { 
	color: #de7a8e;
}

a.btn {
         color: white;
          background-color: #DC143C;
     }

a.btn:hover {
          background-color: #de7a8e;
     }

a.fn-item.active {
          color: #423b3c;
     }

a.fn-item:hover {
        color: #de7a8e;
     }

a.fn-item {
  display: block;
  cursor: pointer;
color: #423b3c;
  opacity: 0.7;
}


body {
          color: #423b3c;
     }

ol li {
margin-bottom: 15px;
}
</style>